<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iPhoneUUID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB066A511CDB6DA0004196B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB066A6A1CDB6DA0004196B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB066A751CDB6DA0004196B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
